VITE_VIDEO_FILES='./example_files/your_test_file.mp4','./example_files/your_test_file.mp4'
VITE_TRANSCRIPT_FILE='./example_files/your_test_file.transcript.vtt'
VITE_MAP_FILE='./example_files/your_test_file.gpx'
VITE_OFFSETS='{"GX0545_combined.wav": 0, "GX0202_combined.wav": 8.089541666666667}'