html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
.description {
	margin-top: 0;
	margin-bottom: 32px;
  }
  .description > h1:first-child {
	margin: 32px 0;
  }
  .description code {
	background-color: #e6e6e6;
	padding: 2px 4px;
	border-radius: 3px;
  }
  .text-content {
	outline: none;
	padding: 8px 16px;
	border-radius: 3px;
	min-height: 256px;
	overflow-y: auto;
	border: 1px solid #ced4da;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  .text-content.focus {
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
  .text-content pre {
	background: #f3f3f3;
	border-radius: 6px;
	padding: 8px 12px;
	line-height: 1.6;
	color: #000;
  }
  .check-list-item {
	position: relative;
	list-style: none;
  }
  .check-list-check {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: -28px;
	border-radius: 3px;
	border: 1px solid #80bdff;
	cursor: pointer;
	transition: background-color .15s ease-in-out;
  }
  .check-list-item[data-checked="true"] .check-list-check {
	background-color: #80bdff;
  }
  .text-content {
	--selection-color: hsla(215, 100%, 77%, .6);
	--selection-color-light: hsla(215, 100%, 77%, .2);
  }
  .text-content.window-inactive {
	--selection-color: rgba(169, 169, 169, .6);
  }
  .text-content hr {
	margin: 0;
	padding: 16px;
	border: none;
	cursor: default;
	height: 1px;
	box-sizing: content-box;
	background-color: #ccc;
	background-clip: content-box;
  }
  .text-content hr.selected {
	box-shadow: inset 0 0 0 16px var(--selection-color-light);
	outline: 1px solid var(--selection-color);
	outline-offset: -1px;
  }
  .text-content .format.decoration.selected {
	background: var(--selection-color);
  }
  .text-content .selection-menu {
	background: var(--selection-color);
  }

  /* typewriter global css */
  .timestamp {
	color: rgb(131, 131, 255);
	text-decoration: underline;
	cursor: pointer;
}

  .text-circle {
	height: 1em;
	width: 1em;
	margin: 0 5px;
	border-radius: 50%;
	display: inline-block;
	z-index: 1;
}
.tooltip {
	position:relative; /* making the .tooltip span a container for the tooltip text */
  }

  .tooltip:before {
	content: attr(data-text); /* here's the magic */
	position:absolute;
	
	/* vertically center */
	top:50%;
	transform:translateY(-50%);
	
	/* move to right */
	left:50%;
	margin-left:15px; /* and add a small left margin */
	
	/* basic styles */
	/* width:200px; */
	padding:0.3em 0.5em;
	border-radius:10px;
	background:rgb(143, 143, 143);
	color: #fff;
	text-align:center;
	border-color: transparent black transparent transparent;

  
	display:none; /*hide by default */
  }
/* TODO hover breaks sometimes? */
  .tooltip:hover:before {
	display:block;
	z-index: 1;
  }